@charset "UTF-8";

body{
    background-color: black;
}

.cliente{
    position: relative;
    background-color: rgb(142, 236, 0);
    padding: 15px;
    border-radius:20px ;
    width: 350px;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.nome{
   text-align: center; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 300;
   font-size: 30px;
}

#form-adiciona{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: none;
}

#form-adiciona>h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

label{
    display: block;
    margin-bottom: 10px;
}

input{
    padding: 7px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}

#add{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: white;
    border-radius: 5px;
    display: block;
    margin: 50px auto;
}

#adcliente{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: white;
    border-radius: 10px;
    display: block;
    margin: 20px auto;

}

#salvar, .editar{
    background-color: rgb(0, 143, 19);
    border-radius: 30px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#alteracao{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    z-index: 9999;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.endereco{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.total{
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.numeroparcelas{
    background-color: rgb(122, 195, 255);
    padding: 5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 200px;
    border: 1px solid black;
}







