@charset "UTF-8";

body{
    background-color: black;
}

.cliente{
    position: relative;
    background-color: rgb(142, 236, 0);
    padding: 15px;
    border-radius:20px ;
    width: 350px;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.nome{
   text-align: center; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 300;
   font-size: 30px;
}

#form-adiciona{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    display: none;
}

#form-adiciona>h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

label{
    display: block;
    margin-bottom: 10px;
}

#form-adiciona input,
#retirada input,
#alteracao-Form input {
    padding: 7px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 10px;
}


#add{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: white;
    border-radius: 5px;
    display: block;
    margin: 50px auto;
}

#adcliente{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: white;
    border-radius: 10px;
    display: block;
    margin: 20px auto;

}

#salvar, .editar{
    background-color: rgb(0, 143, 19);
    border-radius: 30px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#alteracao{
    background-color: rgb(118, 255, 159);
    padding: 10px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    z-index: 9999;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


#retirada{
    margin-top: 20px;
    background-color: rgb(250, 31, 31);
    padding: 15px;
    padding-top: 5px;
    width: 100%;
    margin: -15px;
    border-radius: 0px 0px 20px 20px
}

.btosaida{
    background-color: rgba(255, 0, 0, 0.719);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#textosaida{
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
}

#filtro{
    display: block;
    margin: 50px auto;
    padding: 10px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
}

#filtro > label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

#filtro input{

    padding: 7px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 10px;

}








